* {
  margin: 0px;
}

/*Header*/

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: blue;
}

.header-nav {
  font-size: 10vh;
}

/*Main body */

button {
  width: 100px;
  height: 7vh;
  margin: 1vh;
}

section {
  width: 500px;
  height: 9vh;
  margin: 2vh;
  border: 1px solid black;
}

.content-div {
  display: flex;
}

.content-col-small {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 33%;
}

.content-col-large {
  padding: 10px;
  width: 69%;
  display: flex;
  flex-direction: column;
  align-items: center;

}